/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* 
    Since class page widgets are generally all shown on the same page, one stylesheet to rule them all.
*/

.cc-classpage-widget-body {
    margin:10px;
}

.classpage-table-label {
    text-align:right;
    padding-right:7px;
    font-weight:bold;
    color:#999;
    white-space:nowrap;
    vertical-align: top;
    padding-bottom:3px;
}

img.cc-classpage-instructor-pic {
    float:left;
    margin-right:30px;
    width:120px;
    height:120px;    
}


.cclecturemap {
    float:right;
    margin-top:-15px;
    margin-right:-10px;
}


.cclectureinfo {
    position:relative;
    float:left;
}


table#cc-classpage-section-results {
    font-size:0.9em;
}

table#cc-classpage-section-results, 
table#cc-classpage-section-results td, 
table#cc-classpage-section-results th {
    border-collapse: collapse;
    padding: 3px 5px 3px 2px;
    
    vertical-align:top;
}

table#cc-classpage-section-results th {
    text-align:left;
    padding-left:3px;
    background-color:#e4e9ed;
    color:#747577;
    font-size:1.1em;

}

td.classpage_sections_instrnames {
    white-space: nowrap;
    width: 180px;
    max-width:180px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.cc-classpage-instructorinfo-body {
    border-bottom: 1px dotted #c6c6c6;
    clear: both;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

/* Don't put a gray divider after the last instructor */
#cc-classpage-instructorinfo .cc-classpage-instructorinfo-body:last-child {
    border-bottom:none;
    margin-bottom:0px;
}

.cc-instr_name {
    padding-top: 5px;
}

.cc-instr-table {
    height:110px;
}


.cc-instr-table th {
    text-align:left;
    min-width:100px;
}

.cc-classpage-message-icon {
    margin-left:5px;
    margin-bottom:-3px;
}

table.classpages_sections_table_inner {
    margin:0px 0px 0px -5px;
    border-top: 1px dotted #D5D5D5;
}

table.classpages_sections_table_inner td {
    border:none;
}

table tr.classrow td {
    border-top: 1px dotted #D5D5D5;
}

td.classpages_sections_col1, th.classpages_sections_col1 {
    width:110px;
    min-width:110px;
    vertical-align:top;
}

th.classpages_sections_timecol, td.classpages_sections_timecol, th.classpages_sections_loccol, td.classpages_sections_loccol {
    width:100px;
}


/* Need to add a property to this OAE class if we want to float things inside widget divs. */
.s3d-widget-container {
    overflow:hidden;
}



